.calc_box {
    display: flex;
    flex-direction: row;
    
    border: 1px solid black;
}

.calc_box_card {

    padding: 20;
    border: '1px solid black';
}

.calc_box_card .card {

    width: 100%;
}

.calc_box_card .custom-card-img {
    width: 60%;
    border: 1px solid rgb(205, 125, 125);


}

.calc_box_form {
    display: flex; 
    flex-direction: column;
    border: 1px solid black;
    width: 100%;


}


@media screen and (max-width: 990px) {
    .portfolio__projectDetails-container {
        flex-direction: column-reverse;
    }

}

@media screen and (max-width: 700px) {
    .calc_box {
        display: flex;
        flex-direction: column;

    }

    .calc_box_card {
        width: '200px';
        border: '1px solid black';


    }
}

@media screen and (max-width: 400px) {

    .calc_box_card .custom-card-img {
        width: 50%;
        border: 1px solid rgb(18, 125, 62);
    
    
    }
    .calc_box {
        display: flex;
        flex-direction: column;

    }

    .calc_box_card {
        width: auto;
        border: 1px solid black;


    }

    .calc_box_form {
        width:auto;
        border: 1px solid black;
    
    
    }


}