.page {
    padding: 25px 25px;

}
.main_header {
    color: #515799;
    padding-bottom:10px;
}
.calculator {

    max-width: 2000px;
    margin: 0 auto;
    /* Center the container horizontally */
}

.calc_box {
    display: flex;
    flex-direction: row;

    /* border: 1px solid black; */
}

.calc_box_card {

    margin: 10px;
    /* border: '1px solid black'; */
    width: 50%;
}

.calc_box_card .custom-card-img {

    /* border: 1px solid rgb(205, 12, 205); */


}

.calc_box_card .custom-card-img {
    width: 70%;
    /* border: 1px solid rgb(0, 0, 0); */
    max-width: 500px;


}

.calc_box_form {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 100%;
    max-width: 1000px;
    margin-top: 10px;
    margin-right: 10px;
}

.calc_box_form_elements Button{
    margin-bottom: 5px;
    margin-top: 5px;

}

.calc_box_form_elements_row {
    border: 1px solid rgb(195, 195, 195);
    border-radius: 5px;
    margin-bottom: 5px;

    
}

.calc_box_form_elements_row >* {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    
}

p {
    font-size: 16px;
}

.progress_bar_div {
    width: 80%;
}


@media screen and (max-width: 990px) {
    .portfolio__projectDetails-container {
        flex-direction: column-reverse;
    }

}

@media screen and (max-width: 700px) {
    .calc_box {
        display: flex;
        flex-direction: column;


    }

    .calc_box_card {

        /* border: '1px solid black'; */
        width: 100%;
        margin: 0px;

    }

    .calc_box_card .custom-card-img {
        width: 30%;
        /* border: 1px solid rgb(219, 10, 34); */


    }
}

@media screen and (max-width: 450px) {

    .calc_box_card .custom-card-img {
        width: 60%;
        /* border: 1px solid rgb(18, 125, 62); */


    }

    .calc_box {
        display: flex;
        flex-direction: column;

    }

    .calc_box_card {
        width: auto;
        /* border: 1px solid black; */


    }

    .calc_box_form {
        /* width: auto; */
        /* border: 1px solid black; */


    }


}